:root {
  base-font-size: var(--base-font-size);
  font-size: var(--font-size);
  font-size-large: var(--font-size--large);
  font-size-header: var(--font-size--header);
  font-weight: var(--font-weight);
  font-weight-large: var(--font-weight--large);
  letter-spacing: var(--letter-spacing);
  border-radius: var(--border-radius);
  border-radius-large: var(--border-radius--large);
  border-radius-huge: var(--border-radius--huge);
  padding: var(--padding);
  padding-large: var(--padding--large);
  height: var(--height);
  height-large: var(--height--large);
  line-height: var(--line-height);
  line-height-large: var(--line-height--large);
  vertical-align: var(--vertical-align);
  padding-container: var(--padding--container);
  size-icon: var(--size--icon);
  size-icon-large: var(--size--icon--large);
  padding-icon-button: var(--padding--icon-button);
  icon-top: var(--icon-top);
  icon-top-large: var(--icon-top--large);
  padding-navigation-bar: var(--padding--navigation-bar);
  padding-list-header: var(--padding--list-header);
  padding-list-item: var(--padding--list-item);
  font-size-list-header: var(--font-size--list-header);
  font-weight-list-header: var(--font-weight--list-header);
  search-icon: var(--search-icon);
  background-image-search-input: var(--background-image--search-input);
  font-size-textarea: var(--font-size--textarea);
  font-size-textarea-large: var(--font-size--textarea--large);
  size-checkbox: var(--size--checkbox);
  border-radius-checkbox: var(--border-radius--checkbox);
  top-checkmark: var(--top--checkmark);
  left-checkmark: var(--left--checkmark);
  width-checkmark__tail: var(--width--checkmark__tail);
  height-checkmark__foot: var(--height--checkmark__foot);
  border-radius-checkmark: var(--border-radius--checkmark);
  border-width-checkmark: var(--border-width--checkmark);
  transform-checkmark: var(--transform--checkmark);
  size-radio-button: var(--size--radio-button);
  size-radio-button-checked: var(--size--radio-button--checked);
  position-radio-button-checked: var(--position--radio-button--checked);
  width-range__thumb: var(--width--range__thumb);
  height-range__track: var(--height--range__track);
  padding-search-input: var(--padding--search-input);
  padding-search-input-large: var(--padding--search-input--large);
  width-switch: var(--width--switch);
  width-switch__label: var(--width--switch__label);
  right-switch__label-left: var(--right--switch__label--left);
  padding-left-switch__label-left: var(--padding-left--switch__label--left);
  width-switch__toggle: var(--width--switch__toggle);
  margin-left-switch__toggle: var(--margin-left--switch__toggle);
  left-switch__label-right: var(--left--switch__label--right);
  padding-left-switch__label-right: var(--padding-left--switch__label--right);
  margin-left-switch__toggle-checked: var(--margin-left--switch__toggle--checked);
  padding-select: var(--padding--select);
  font-size-header: var(--font-size--header);
  padding-overlay: var(--padding--overlay);
  padding-overlay__title: var(--padding--overlay__title);
  max-width-overlay: var(--max-width--overlay);
}
